attrs==19.3.0
click==7.1.1
click-plugins==1.1.1
cligj==0.5.0
Fiona
geopandas
munch==2.5.0
numpy
pandas==1.0.3
pyproj==2.6.0
python-dateutil==2.8.1
pytz==2019.3
Rtree
Shapely==1.7.0
sqlalchemy
six==1.14.0
psycopg2-binary
